/*Plugin container style*/
.pmc-container{
    width: 1200px;
    margin: auto;
    padding: 10px;
}

@media (max-width: 1024px) {
    .pmc-container{width: 860px;}
}

@media (max-width: 768px) {
    .pmc-container{width: calc(100% - 10px); margin: 5px;}
}
/*Tile style*/
.pmc-row{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tile{
    margin-bottom: 15px;
    text-align: center;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 15%), 0 -2px 10px 0 rgb(0 0 0 / 15%);
    width: 300px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.tile-video {
    height: 250px;
    max-width: 100%;
}

.building-name{
    margin-bottom: 20px!important;
    margin-top: 20px!important;
    font-size: 30px!important;
}

.video-column p {
    margin-bottom: 0;
}

.description{
    font-size: 15px;
}

/*Accordion style*/
.pmc-accordion-item {
    margin-bottom: 5px;
}
.pmc-accordion-handle {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    border: 1px solid rgba(0,0,0,.125);
    background-color: #F7F7F7;
    border-radius: 5px;
    margin: 0;
}

.pmc-accordion-handle.active {
    background-color: #ccc;
    text-decoration: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.pmc-accordion-handle:hover {
    background-color: #ccc;
    text-decoration: none;
}

.pmc-accordion-panel {
    padding: 20px;
    background-color: white;
    overflow: hidden;
    display: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 1px;
}

.pmc-accordion-panel.expanded{
    display: block;
}

.pmc-accordion-handle:before{
    display: inline-flex;
    margin-left: 0.255em;
    margin-right: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
}

.pmc-accordion-handle.active:before{
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.accordion-item{
    margin: 2px 0;
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
}

.collapse-video{
    width: 500px!important;
    height: 281px;
    max-width: 100%;
}

@media (max-width: 768px) {
    .paginator{
        display: grid;
        grid-template-columns: auto auto;
    }
}
.building-button{
    cursor: pointer;
    font-size: 15px;
    margin: 5px;
    white-space: nowrap;
    padding: 5px;
}
@media (max-width: 500px) {
    .collapse-video{
        width: 300px!important;
        height: 180px;
    }
}